OPENAI_API_KEY = "your-openai-api-key"
LIMIT_MESSAGES_IN_CONVERSATION = 10
DATA_DIRECTORY= "./data_ingestion/data"
MONGO_INITDB_ROOT_USERNAME = "root"
MONGO_INITDB_ROOT_PASSWORD = "example"
CHROMADB_PERSIST_DIRECTORY = "./vectorstore"
CHROMADB_COLLECTION_NAME = "quantum_vector_db"
RAG_RETRIEVAL_STRATEGY = "hybrid_search"
CHUNKER_CHUNK_SIZE = 1200
CHUNKER_CHUNK_OVERLAP = 200
